numpy~=1.19.5
easydict~=1.9
imutils~=0.5.4
matplotlib~=3.4.3
opencv-contrib-python
oauthlib
tensorboard
tensorboard-plugin-wit
tensorflow~=2.6.0
tensorflow-estimator
scipy~=1.7.1
Keras-Preprocessing
keras
absl-py
astunparse
bottle~=0.12.19
cachetools
certifi
chardet
cycler
dlib~=19.22.1
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
Jinja2
kiwisolver
Markdown
MarkupSafe
mpld3
opt-einsum
Pillow~=8.3.2
protobuf
pyasn1
pyasn1-modules
pyparsing
python-dateutil~=2.8.1
requests
requests-oauthlib
rsa
six
termcolor
urllib3
waitress
Werkzeug
wrapt
awscrt~=0.12.6
opencv-python~=4.5.3.56
tensorflow-gpu
pyyaml~=5.4.1
pandas~=1.1.5
openpyxl
cloudwatch
